@import "~bootstrap/dist/css/bootstrap.min.css";

#everything {
  background: green;
  display: flex;
  justify-content: center;
}
.card {
  display: inline-block;
  background: slategray;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.topsuit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.bottomsuit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
h1 {
  display: flex;
  justify-content: center;
  line-height: 11;
}
::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
.spade::before,
.spade::after {
  content: "\2660";
}
.clubs::before,
.clubs::after {
  content: "\2663";
}
.hearts::before,
.hearts::after {
  content: "\2665";
}
.diams::before,
.diams::after {
  content: "\2666";
}
